body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.snap-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
}

.intro {
    background: #8a908e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-title {
    height: 10vh;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition {
    background: #52494c;
}

.socials {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: left;
}

.socials a {
    display: inline-flex;
    padding: 4px;
}

.socials img {
    width: clamp(20px, 15vw, 36px);
    height: auto;
    object-fit: contain;
}

.intro-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.intro-text {
    height: 25vh;
    width: 50vh;
    color: #000000;
    display: flex;
    align-items: center;
}

.two-column-layout {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.side-panel {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.side-panel.left {
    background: #cec1c8;
}

.side-panel.right {
    background: #cec1c8;
}

.side-by-side{
    display: flex;
    flex-direction: row;
}

.tall-content {
    height: 1500px;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-certification{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.left-half{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: left;
    align-items: left;
    border: 2px solid #000000;

}

.right-half{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: right;
}

.experience{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
}

.exp-header{
    font-size: 1vw;
    font-weight: 700;
    padding: 0%;
}

.exp-info{
    font-size: 0.75vw;
    font-weight: 600;
    padding: 0%;
}